/defaultconfigs/
/GregTech Leisure-CEu-natives/
/ldlib/
/resourcepacks/
/shaderpacks/
/emi.json
/GregTech Leisure-CEu.jar
/GregTech Leisure-CEu.json
/README.md
/rhino.local.properties
/usercache.json
/usernamecache.json
