/config/
/defaultconfigs/
/GregTech Leisure-CEu-natives/
/kubejs/
/ldlib/
/mods/
/packmenu/
/resourcepacks/
/shaderpacks/
/emi.json
/GregTech Leisure-CEu.jar
/GregTech Leisure-CEu.json
/options.txt
/README.md
/rhino.local.properties
/usercache.json
/usernamecache.json
